/*
	This is the blog assignment which style the blog page
	Aouther : Sentayhu 
	Date: 25/10/2016;

*/

body{
	margin: 0 auto;
	width: 60%;
}

.topHeader .resizeLogo img{
	float: left;
}
.topHeader .resizeCoverImage {
	float: left;
	margin:2% 0% 0% 2%;
}
.topHeader nav{
	margin-bottom:5%;
	margin-left: 50%;
}
.topHeader nav ul{
	list-style: none;
	margin: 0 auto;
}
.topHeader nav ul li{
	display: inline;
	float: left;
}
.topHeader nav a:link, .topHeader nav a:visited{
	color: red;
	display: inline-block;
	padding: 10px 10px;
}

.sidebar{
	background-color: red;
	float: right;
	width: 35%;
	margin:2%;
	
}
.newsSection{
	background-color: white;
	margin:1%;
	width: 100%;
	float:left; 
}
.newsSection article {
	background-color: red;
	display: inline-block;
	width: 40%;
	padding: 3%;
}
.bottomFooter{
	float: left;
}
